html {
    font-size: 15px;
    background: #232f34;
    /* background: linear-gradient(90deg,  #232f34 0%,#344955 50%,#4A6572 100%); */
}

body{
    margin: 0;
    text-align: center;
    font-family: Roboto,sans-serif;    
    /* color: white; */
    color: #dcdcdc;
}

.box-contain {
    display: flex;
    min-height: 100vh;    
}

.box{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;
    flex-direction: column; 
}

.image {    
    margin-bottom: 2rem;        
}
.image > img {
    border-radius: 50%;
}

.text-index {
    color: white;
}
.text-title {
    font-size: 1.9rem;
}
.align-L {    
    align-self: start;
    text-align: left;
}

.box-text-50 {
    margin: 15%;
    line-height: 1.5;
}

hr {
    width: 290px;
    margin-top: 30px;
    border-color: #607D8B;  
}


.text-link {    
    transition: 0.5s;
}
.text-link:hover {    
    font-size: 1.2rem;    
}
a:link {
    text-decoration: none;
    color: #607D8B;
}
a:visited {
    color: #607D8B;
}
a:hover {
    color: #FF9800;
}
a:active {
    color: #091d29
}

.box-row {
    margin-top: 0.3rem; 
    display: flex;     
    flex-wrap: wrap;
    flex-direction: row; 
    width: 290px;
    justify-content: space-between;
    color: #607D8B;
}

.width-100 {
    width: 100%;
    color: #607D8B;
    position: fixed;    
    bottom: 0;    
}
.bar-footer {    
    background: #232f34; 
}
.box-row-bottom {    
    width: 290px;
    display: flex;  
    justify-content: space-between;
    margin: auto;
}
.hr-footer {
    margin-top: 10px;
}

.after-top {
    margin-top: 30px;
}
.before-footer {
    margin-bottom: 70px;
}


.text-color-80 {
    color: #9b9b9b;
}
.font-small {
    font-size: 10px;
    color: #9b9b9b;
}